body {
  margin: 0px;
  padding: 0px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  width: 900px;
}

.info {
  display: flex;
  margin-bottom: 10px;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
}

.pop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
}

.remove {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin-top: 50px;
  height: 50px;
  margin-left: auto;
}

.remove:hover {
  background-color: red;
}

.emmy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 155px;
  font-size: 40px;
}

.oscar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 150px;
  font-size: 40px;
}
